<!DOCTYPE html>
<html>
<head>
    <title>Online Product Demand Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>Online Product Demand Prediction</h1>

    <div class="nav">
        <a href="/predict">Predict Demand</a>
        <a href="/add-product">Add Product</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/alerts">Stock Alerts</a>
        <a href="/recommendations">AI Recommendations</a>
    </div>
</div>

</body>
</html>